body .wrapper {
  overflow: visible;
}

.panda {
  width: 100%;
  background: var(--bg-container-dark);
  border-top: rgba(152, 157, 198, 0.2) 2px solid;
  &__wrapper {
    // max-width: 1200px;
    max-width: 1920px;
    margin: 0 auto;
    background: var(--bg-container-dark);
    // padding: 0 26px;
  }
  &__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    padding-top: 60px;
    padding-bottom: 100px;
  }
  &__title {
    display: flex;
    // max-width: 790px;
    width: 100%;
    flex-direction: column;
    padding-left: 151px;
    h2 {
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      line-height: 56px;
      color: var(--text-heading);
    }
    .title__main {
      display: flex;
      flex-direction: row;
      padding-top: 40px;
      .title__video-block {
        .video-block__video {
          iframe {
            width: 790px;
            height: 442px;
            border-radius: 5px;
          }
        }
        .video-block__slider {
          padding-top: 30px;
          display: flex;
          flex-direction: column;
          .slider-imgs {
            display: flex;
            justify-content: space-between;
            .slider-image {
              width: 246px;
              height: 141px;
              cursor: pointer;
              img {
                width: 246px;
                height: 141px;
              }
              iframe {
                width: 246px;
                height: 141px;
                pointer-events: none;
              }
            }
          }
          .slider-drops {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 30px;
            gap: 3px;
            svg {
              cursor: pointer;
            }
          }

        }
      }
      .title__description {
        padding-left: 30px;
        max-width: 380px;
        .description__text {
          padding-bottom: 35px;
          h4 {
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 23px;
            color: var(--text-heading);
            padding-bottom: 6px;
          }
          p {
            display: block;
            padding-bottom: 13px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: var(--text-subheading);
          }

        }
      }
    }
  }
  &__slider {
    max-width: 209px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    // padding-bottom: 100px;
    // padding-top: 54px; 
    .imgs__block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 20px;
      .block__imgs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        flex-grow: 1;
        // padding: 0 34px;
        .block__image {
          cursor: pointer;
          width: 108px;
        }
      }
      .slider__top-arrow {
          transform: rotate(90deg);
        }
      .slider__bottom-arrow {
          transform: rotate(90deg);
        }
        .img__border-map {
          margin-left: -25px;
          margin-right: -25px;
        }
      }
  }
}

.img__border {
  width: 157px;
  height: 157px;
  padding: 3px;
  position: relative;
  background: linear-gradient(to right, #07EEE0 0%, #DF496D 100%);
  border-radius: 50%;
  display: flex;
  img {
    padding: 6px;
    background: var(--bg-container-dark);
    border-radius: 50%;
  }
}